* {
  padding: 0;
  margin: 0;
}

.full-screen {
  // height: 100vh;
  width: 99vw;
  // padding-top: 10px;
}

.btn {
  padding: 0;
  cursor: pointer;
  height: 30vh;
  border: 2px solid #fff;
  background: crimson;

  &:nth-child(1) {
    background: url("../../../assets/img/home-bg.jpg") center center;
    background-size: cover;
  }
  &:nth-child(2) {
    background: url("../../../assets/img/news-bg.jpg") center center;
    background-size: cover;
  }
  &:nth-child(3) {
    background: url("../../../assets/img/home3.svg") center center;
    background-size: cover;
  }
  &:nth-child(4) {
    background: url("../../../assets/img/saved-bg.png") center center;
    background-size: cover;
  }
  &:nth-child(5) {
    background: url("../../../assets/img/map-bg.png") center center;
    background-size: cover;
  }
  &:nth-child(6) {
    background: url("../../../assets/img/home3.svg") center center;
    background-size: cover;
  }

  .title {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(29, 73, 99, 0.781);
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 4px 2px #999;

    color: #fff;
    font-family: "Cairo";
    font-weight: 800;
    font-size: 2rem;
    text-shadow: 3px 3px 7px #444;

    @media(max-width: 700px) {
      font-size: 1.26rem;
    }
  }
}
