<div class="full-screen">
  <div class="row">
    <div (click)="goto('home')" class="btn col-6">
      <div class="title">الرئيسية</div>
    </div>
    <div (click)="goto('news')" class="btn col-6">
      <div class="title">اخر الأخبار</div>
    </div>
    <div (click)="goto('offers')" class="btn col-12">
      <div class="title">عروض البيع والشراء</div>
    </div>
    <div (click)="goto('wishlist')" class="btn col-6">
      <div class="title">العناصر المحفوظة</div>
    </div>
    <div (click)="goto('locations')" class="btn col-6">
      <div class="title">مواقع الملكيات والأراضي</div>
    </div>
  </div>
</div>











