<div class="page row p-0 p-md-3">
    <div class="col-md-3 filters_section bg-gradient">
      <div class="header">
        <a onclick="document.getElementsByClassName('filters_section')[0].classList.remove('open')">اغلق</a>
        <h4 class="text-center">ابحث عن العرض</h4>
      </div>
      <hr>

      <div class="filters">
        <div class="row filter">
          <div class="col-md-12">
            <h5>نوع العرض</h5>
            <hr>
          </div>
          <div *ngFor="let activity of activities" class="property" dir="rtl">
            <div class="value" dir="rtl">{{activity.value}} ({{activity.count}})</div>
            <div class="check">
              <input type="checkbox" name="activities" [value]="activity.value" (click)="setFilter('activity', activity.value)" class="form-check">
            </div>
          </div>
        </div>

        <div class="row filter">
          <div class="col-md-12">
            <h5>نوع الملكية</h5>
            <hr>
            <div *ngFor="let type of types" class="property" dir="rtl">
              <div class="value" dir="rtl">{{type.value}} ({{type.count}})</div>
              <div class="check">
                <input
                  type="checkbox"
                  name="type"
                  [value]="type.value"
                  (click)="setFilter('type', type.value)"
                  class="form-check"
                  [checked]="filters.type.includes(type.value)"
                >
              </div>
            </div>
          </div>
        </div>

        <div class="row filter">
          <div class="col-md-12">
            <h5>الموقع</h5>
            <hr>
            <div *ngFor="let site of sites" class="property" dir="rtl">
              <div class="value" dir="rtl">{{site.value}} ({{site.count}})</div>
              <div class="check">
                <input
                  type="checkbox"
                  name="sites"
                  [value]="site.value"
                  (click)="setFilter('site', site.value)"
                  class="form-check">
              </div>
            </div>
          </div>
        </div>
        <hr>

        <div class="row filter">
          <div class="col-md-12">
            <label for="customRange3" class="text-center w-100">مساحة حتى <span>{{filters.area}} متر مربع </span> </label>
            <div class="slider">
              <span>10</span>
              <input
                (change)="filterResults()"
                type="range"
                [(ngModel)]="filters.area"
                class="form-range"
                min="10"
                max="1000"
                step="2"
                id="customRange3">
              <span>1000</span>
            </div>
          </div>
        </div>
        <hr>

        <div class="row filter">
          <div class="col-md-12">
            <label for="customRange3" class="text-center w-100">سعر متر حتى <span>{{filters.price}} جنيه </span></label>
            <div class="slider">
              <span>1000</span>
              <input
                type="range"
                (change)="filterResults()"
                [(ngModel)]="filters.price"
                class="form-range"
                min="1000" max="100000"
                step="200"
                id="customRange3">
              <span>100000</span>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="offers-content col-md-9 p-2 pt-4">
      <div class="row p-3 g-3">
        <div class="col-md-6" dir="rtl">
          <label class="form-label m-0" for="search">ابحث</label>
          <div class="input-group">
             <span class="input-group-text"><i class="fa fa-search"></i></span>
             <input (keyup)="search($event)" id="search" class="form-control" type="text">
           </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" dir="rtl">
            <label for="date" class="form-label m-0">تاريخ</label>
            <input (change)="filterByDate($event)" id="date" class="form-control" type="date">
          </div>
        </div>
        <div class="filters-toggle" dir="rtl">
          <button onclick="document.getElementsByClassName('filters_section')[0].classList.add('open')" style="font-family: 'Cairo';" class="btn btn-secondary sticky-top">فلترة النتائج</button>
        </div>
      </div>
      <hr>

      <div class="">
          <!-- <i onclick="document.getElementsByClassName('filters')[0].classList.toggle('open')" class="w-100 text-end fa fa-bars"></i> -->
          <!-- <div onclick="document.getElementsByClassName('filters')[0].classList.toggle('open')" class="fbtn">الفلترة</div> -->
      </div>


      <div class="container p-2 p-md-5 py-5">

        <div class="">
          <div *ngFor="let offer of offers; let i=index" class="p-0 p-md-2">
            <app-admin-offer-card *ngIf="side==='admin'" (delete)="deleteOffer($event)" [offer]="offer"></app-admin-offer-card>
            <app-offer-card *ngIf="side==='user'" [offer]="offer"></app-offer-card>
          </div>
        </div>


        <div *ngIf="loading" class="container text-center p-5">
          <app-spinner></app-spinner>
        </div>


        <div class="row pagination justify-content-center">
          <div class="col-12 text-center">
            <div class="btn-toolbar" role="toolbar" style="">
              <div class="btn-group mx-auto">
                  <!-- <button type="button" class="btn btn-default color-blue"><i class="fa fa-fast-backward"></i></button> -->
                  <button (click)="previousPage()" [disabled]="!previousAllowed" type="button" class="btn btn-default color-blue"><i class="fa fa-step-backward"></i></button>
                  <button type="button" class="btn btn-default text-faded">{{currentPageNumber}} of {{numberOfPages}}</button>
                  <button (click)="nextPage()" [disabled]="!nextAllowed" type="button" class="btn btn-default color-blue"><i class="fa fa-step-forward"></i></button>
                  <!-- <button type="button" class="btn btn-default color-blue"><i class="fa fa-fast-forward"></i></button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
