<div class='footer'>
  <div *ngIf="!android" class="download row pt-5 px-3" dir="rtl">
    <div class="title col-md-6 text-center">
      <h5>تحميل تطبيق الاندرويد</h5>
      <p class="text-muted">يمكنك تحميل تطبيق الاندرويد شركة الأزهر لسهولة وسرعة الوصول لاخر الاخبار ومتابعة العروض </p>
    </div>
    <div class="padge col-md-6">
      <img src="../../../assets/img/google-play-badge.png" alt="" class="img-fluid">
    </div>
  </div>
  <div class="arrange">
    <div class="sec">
      @Copy& 2021
    </div>
    <div class="sec">
      <span><a href="https://www.facebook.com/profile.php?id=100002429666746" target="_blank">Farghaly developes</a></span>
      برمجة وتصميم
    </div>
    <div class="sec">
      جميع الحقوق محفوظة2021
    </div>
  </div>
</div>
