* {
  font-family: "Cairo";
}
.home_container {
  position: relative;
  margin: 0;
  padding: 0;
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("../../../assets/img/photo1.jpg")
}

.opened-image {
  transition: all .5s ease-in-out;
  // transform: scale(0, 0);
  width: 0;
  height: 0;
  background: rgba(97, 95, 95, 0.892);
  transition: all .2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  &.opened {
    z-index: 3000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    // transform: scale(100vw, 100vh);
  }

  i {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 3rem;
    color: #fff;
  }

  img {
    width: 90vw;
    height: 90vh;
  }
}

.overlay-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url(https://scontent.fcai21-2.fna.fbcdn.net/v/t1.0-9/90427657_2505350286448167_6604245291208015872_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=B8B3UeRfh8cAX9LLrdG&_nc_ht=scontent.fcai21-2.fna&oh=65a98d0bcff4d84c7b9e576a2d14d30b&oe=60836C2A) center center;
  background-size: cover;
}

.overlay-color {
  background:rgba(255, 255, 255, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

header {
  h1 {
    font-size: 3rem;
    border-bottom: 3px solid rgb(255, 255, 255);
    padding: 5px 0;
    @media(max-width: 540px) {
      font-size: 1.4rem;
    }
    // @media(max-width: 370px) {
    //   font-size: 1.4rem;
    // }
  }
  p {
    color: rgba(255, 255, 255, 0.856);
    @media(max-width: 400px) {
      font-size: 1rem;
    }
  }
  .header-photo {
    height: 500px;
    @media(max-width: 700px) {
      height:auto;
    }
  }

  .intro_images {
    .img1, .img2 {
      img {
        width: 100%;
        height: 400px
      }
    }
  }
}

.home_content {
  margin: 0;
  position: absolute;
  top: 7%;
  left: 0;
  // width: 99vw;
  height: 100vh;
}

.gradient {
  background: linear-gradient(108deg, rgba(79, 149, 196, 0.408) 0%, rgba(40, 146, 141, 0.476) 35%, rgba(61, 94, 100, 0.456) 100%);
}

.page-header {
  color: #fff;
  font-size: 1.2rem;
}

.companies {
}

.first-wave {
  // position: absolute;
  // transform: translateY(26%);
  // top: 10%;
}

.features {
  padding: 0 2rem;
  background: rgba(128, 126, 126, 0.667);
  h2 {
    text-align: right;
    font-size: 2.3rem;
    @media(max-width: 500px) {
      font-size: 1.6rem;
      margin-top: 20px;
    }
  }
  p {
    text-align: right;
  }
  @media(max-width: 500px) {
    padding: 0;
    p {
      font-size: .8rem;
    }
  }
  .list {
    div {
      position: relative;
      padding: 0;
      line-height: 1.5rem;
      margin: 2rem .1rem;
      text-align: right;
      color: rgba(255, 255, 255, 0.836);
      font-weight: 700;
      font-size: 1.7rem;
      img {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 0;
      }
      span {
        margin-right: 3rem;
        color: #fff;
        text-shadow: 2px 2px 2px 2px #000;
      }
      @media(max-width: 700px) {
        font-size: 1rem;
        img {
          width: 25px;
          height: 25px;
        }
        span {
          margin-right: 2rem;
        }
      }
    }
  }
}

.icons {
  .icon {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    font-size: 3rem;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.photo {
  height: 370px;
  box-shadow: 2px 2px 12px 2px rgb(161, 159, 159);
  padding: 12px;
  // margin: 12px;
  @media(max-width: 370px) {
    height: 330px;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.gallery {
  background: #eee;
}
.contact-heading {
  font-size: 1.8rem;
  padding: .3rem;
  @media(max-width: 700px) {
    font-size: 1.1rem;
  }
}
.services {
  color: rgb(212, 206, 206);
}

footer {
  a {
    text-decoration: none;
    color:rgb(10, 74, 117);
    font-weight: 700;
  }
}
