.post {
  font-size: large;
  font-weight: 500;
  font-family: 'Cairo', sans-serif;
  direction: rtl;

  @media(max-width: 570px) {
    font-size: medium;
  }
}

h2 {
  font-family: 'Cairo', sans-serif;

  @media(max-width: 700px) {
    font-size: 22px;
  }
}

h3 {
  font-family: 'Cairo', sans-serif;
  color: rgba(28, 38, 65, 0.863);

  @media(max-width: 700px) {
    font-size: 17px;
  }
}

img {
  width: 100%;
  height: 80vh;
  @media(max-width: 346px) {
    height: 50vh;
  }
  @media(max-width: 260px) {
    height: 40vh;
  }
}
