<div class="news_details_container">
  <h2>{{post?.title}}</h2>
  <br><br><br>
  <hr>
  <h3 dir="rtl">نشر في {{post?.updated_at}}</h3>
  <hr>
  <br><br><br>
  <div *ngIf="loading" class="container text-center p-5">
    <app-spinner></app-spinner>
  </div>
  <div class="post">
    <div class="lines">
      <p *ngFor="let p of part1" class="lines">{{p}}</p>
    </div>
    <div class="img">
      <img class="img-fluid" [src]="image" alt="">
    </div>
    <div class="lines">
      <p *ngFor="let p of part2">{{p}}</p>
    </div>
    <div class="images">
      <div class="row g-3">
        <div *ngFor="let img of images" class="col-md-4">
          <div class="img">
            <img class="img-fluid" [src]="img" alt="">
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="video !== ''" class="video">
      <iframe width="100%" height="315" [src]="video | safe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
