<div class="overlay"></div>
<div class="container bg-light p-md-4 p-1">
  <h2 class="text-muted display-2 text-center">{{post.title}}</h2>
  <br><br><br>
  <hr>
  <h3 dir="rtl">نشر في {{post.updated_at}}</h3>
  <hr>
  <br><br><br>
  <div *ngIf="loading" class="container text-center p-5">
    <app-spinner></app-spinner>
  </div>
  <div class="row align-items-center">
    <p *ngFor="let p of part1" class="col-md-12 post">{{p}}</p>
    <img class="col-md-12 m-3" [src]="post.image" alt="">
    <p *ngFor="let p of part2" class="col-md-12 post">{{p}}</p>
  </div>
</div>
