* {
  margin: 0;
  padding: 0;

  @media(max-width: 768px) {
    margin: 0;
    padding: 0;
  }
}
.bars {
  cursor: pointer;
}


nav {
  z-index: 3000;
  padding: 10px;
  align-items:center;

  .navbar-brand {
    cursor: pointer;
    font-family: 'Cairo';
    font-weight: 800;
    margin-left: 1rem;
    font-size: 1.6rem;
  }
  a {
    font-weight:700;
    font-size: 1.3rem;
    color: #555;
    text-align: right;
    font-family: "Cairo";
    margin-top: 15px;
    @media(max-width: 700px) {
      font-size: 1rem;
    }

  }
}

.main-page {
  .overlay {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(59, 59, 59, 0.823);
  transition: all .15s ease-in-out;

  &.show {
      transform: translateX(0);
      opacity: 1;
      }

  &.hide {
      transform: translateX(-100%);
      opacity: 0;
  }
}
.containerr {
  width: 100vw;
  .sidebar {
      width: 17%;
      height: 100vh;
      z-index: 1000;
      position: fixed;
      // top: 8vh;
      left: 0;
      overflow: hidden;
      padding: 0;
      transform: translateX(-400vw);
      transition: all .15s ease-in-out;

      &.show {
          transform: translateX(0);
      }

      &.hide {
          transform: translateX(-400vw);
      }

      @media(min-width: 768px)   {
          transform: translateX(0);
      }
      @media(max-width: 768px)   {
        width: 100%;
    }
    }
    .contentt {
      padding: 0;
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}


.background {
  z-index: -1000;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: url("../../../assets/img/buildings.jpg") center center;
  background-size: cover;
  opacity: .1;
}

.active {
  color: rgb(26, 104, 58);
}
