.bars {
  cursor: pointer;
}


nav {
  z-index: 3000;
  padding: 10px;
  align-items:center;

  .navbar-brand {
    cursor: pointer;
    font-family: 'Cairo';
    font-weight: 800;
    margin-left: 1rem;
    font-size: 1.6rem;
  }
  a {
    font-weight:700;
    font-size: 1.3rem;
    color: #555;

    &.activated {
      color: rgb(114, 21, 21);
    }
  }
}

.pages {
  padding-top: 8vh
}
