h4 {
  font-family: "Cairo";
}
label {
  font-weight: 600;
  color: rgba(68, 68, 68, 0.726);
  font-family: "Cairo";
  padding: 0;
}

.message {
  text-align: center;
  background: rgba(83, 163, 83, 0.946);
  color: #fff;
  font-family: "Cairo";
  font-size: 16px;
  font-weight: 500;
  opacity: 0;
  transition: all 1s ease-in-out;

  &.show {
    opacity: 1;
  }
}
.map {
  width: 100%;
  height: 50vh;
}
