<div class="p-3">
  <div class="center">
    <h2 class="text-muted text-center mt-5">مواقع البنايات</h2>
    <div class="inst">قم بالضغط على علامة اى موقع لاظهار تفاصيل الموقع</div>
  </div>
  <div class="map">
    <agm-map style="height: 100%;" [latitude]='lat' [longitude]='lng' [zoom]="zoom">
      <agm-marker (markerClick)="getInfo(location.id)" *ngFor="let location of locations" [latitude]='location.lat' [longitude]='location.lng' ></agm-marker>
    </agm-map>
  </div>
  <div class="">
    <div *ngIf="loading" class="center w-100">
      <app-spinner></app-spinner>
    </div>
    <div class=" messages p-2 p-md-4">
      <div *ngIf="!loading && locations.length === 0" class="mess center w-100">لا يوجد مواقع مضافة</div>

      <div class="details" [ngClass]="[location?'show': 'hide']">
        <div (click)="hideLocation()" class="overlay"></div>
        <div *ngIf="location" class="location row g-3">
          <div class="col-md-12 message p-1 p-md-3" dir="rtl">
            <div class="row">
              <div class="body col-sm-2">
                <h3 class="name">منطقة سكنية رقم {{location.number}}</h3>
              </div>
              <div class="desc col-sm-8">
                <p *ngFor="let desc of location.desc.split('/')">-{{desc}}</p>
              </div>
              <div *ngIf="admin" class="actions col-md-2">
                <button (click)="edit(location.id)" type="button" class="btn btn-success">تعديل</button>
                <button *ngIf="!deleting" (click)="delete(location.id)" type="button" class="btn btn-danger">مسح</button>
                <div *ngIf="deleting" class="center">
                  <app-spinner></app-spinner>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
